*{
    background-color: rgb(204, 201, 201);
}
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.website {
    height: 80%;
    width: 800px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border: 5px solid black;
    background: gray;
    -webkit-box-shadow: 13px 16px 228px 27px rgba(0,0,0,0.95);
    -moz-box-shadow: 13px 16px 228px 27px rgba(0,0,0,0.95);
    box-shadow: 13px 16px 228px 27px rgba(0,0,0,0.95);
}

.knoppies2{
    font-size: 30px;
    color: white;
    background: gray;
    text-align: center;
    margin: 20px;
}
      